<div class="social">
    <div>
        <a href="https://twitter.com/share" class="twitter-share-button" data-via="{{ site.twitter_username}}" data-text="{{ page.title }}">Tweet</a>
    </div>

    <div style="position: relative; top: -6px;">
        <div class="fb-like" data-width="150" data-layout="button_count" data-action="like" data-show-faces="true" data-send="false"></div>
    </div>

    <div>
        <div class="g-plusone" data-size="medium"></div>
    </div>

    <div>
        <a href="http://news.ycombinator.com/submit" class="hn-share-button">Vote on HN</a>
    </div>
</div>
