h2.portfolioTitle {padding-top: 22px;}
h3.portfolioTitle {padding-top: 16px;}
ul.portfolioButtonsBox li {padding-top: 12px;}
#primary_nav a {padding-top: 22px;}
.section1 h1 {padding-top: 50px;}
.tabs-nav a {line-height: 0.5em; padding-top: 18px;}
.sendButton {padding-top: 13px;}
#footer p {padding-top: 17px;}
textarea { overflow: auto;}
.section2 h3 {padding-top: 10px;}