article {
    background:#fff;
    padding:60px 0;
    font-size:18px;

    .container > header, .container > section, .container > footer {
        margin:0;
    }

    .social {
        list-style: none;
        height:40px;
        padding:10px 0;
        
        > div {
            display:inline-block;
            min-width:120px;
        }

        .twitter {
            -webkit-box-shadow: inset 0 0 0 20px #00acee;
            box-shadow: inset 0 0 0 20px #00acee;
            &:hover {
                color: #00acee;
                -webkit-box-shadow: inset 0 0 0 2px #00acee;
                box-shadow: inset 0 0 0 2px #00acee;
            }
        }
        .github {
            -webkit-box-shadow: inset 0 0 0 20px #171515;
            box-shadow: inset 0 0 0 20px #171515;
            &:hover {
                color: #171515;
                -webkit-box-shadow: inset 0 0 0 2px #171515;
                box-shadow: inset 0 0 0 2px #171515;
            }
        }
        .linkedin {
            -webkit-box-shadow: inset 0 0 0 20px #0e76a8;
            box-shadow: inset 0 0 0 20px #0e76a8;
            &:hover {
                color: #0e76a8;
                -webkit-box-shadow: inset 0 0 0 2px #0e76a8;
                box-shadow: inset 0 0 0 2px #0e76a8;
            }
        }
        .rss {
            -webkit-box-shadow: inset 0 0 0 20px #ee802f;
            box-shadow: inset 0 0 0 20px #ee802f;
            &:hover {
                color: #ee802f;
                -webkit-box-shadow: inset 0 0 0 2px #ee802f;
                box-shadow: inset 0 0 0 2px #ee802f;
            }
        }
    }

    .container > footer {
        border-top:1px solid #ddd;
        border-bottom:1px solid #ddd;
        padding-top:1.5em;
        padding-bottom:1.5em;
        margin-top:1.5em;
        margin-bottom:1.5em;
    }

    header {
        margin-top:2em;
        margin-bottom:2em;

        &::after {
            content:" ";
            display:block;
            width:1.5em;
            height:0.2em;
            background:#ddd;
            margin:1em 0;
        }
    }


    address {
        margin:0;
        font-size: 15px;

        p {
            margin:0;
            display:inline-block;
        }

        img {
            box-shadow: 0 0 0 3px #b6c2c9;
            float: left;
            border-radius: 54px;
            width: 70px;
            margin: 0 20px 0 0;
        }       
        
        .follow {
            margin: 0 85px 0;
        }

    }

    p {
        font-size:1em;
        line-height:1.5;
        color:$text;
        font-weight:400;
        margin:0 0 1.5em;
    }
    
    
    ol, ul {
        font-weight: 600;
        margin: 1.5em 0;
        padding: 0;
        list-style-position: outside;
        padding-left: 1.5em;
        
        li {
            font-weight:400;
            margin-bottom:0.5em;
        }
    }
    
    blockquote {
        border:0;
        font-size:24px;
        margin:1.2em -4em 1.2em 0;
        padding:0;

        p {
            font-size:30px;
            line-height:1.1;
            color:$accent;
            font-weight:600;
        }
    }

    h1 {
        font-weight:600;
        font-size:2.1em;
        margin:0.5em 0 1em;
    }

    h2 {
        font-size:1.5em;
        margin:0.5em 0 1em;
        font-weight:600;
    }

    h3 {
        font-size:1.3em;
        font-weight:600;
    }

    h4 {
        font-size:1.2em;
        font-weight:600;
    }

    hr {
        margin:3em 0;
    }

    .meta {
        color:$textmuted;
        font-size:13px;
        text-transform:uppercase;
        margin-bottom:0.3em;
        font-weight:400;
        letter-spacing:1px;

        time, address {
            display:inline;
            font-size:13px;
        }

        a {
            border:0;
            color:$textmuted;
        }
    }

    img {
        max-width:100%;
        margin:1em 0;
    }


    .title {
        margin:0.2em 0;
        font-weight:bold;

        a {
            border:0;
        }
    }


    .subtitle {
        font-size: 1.4em;
        margin: 0.2em 0;
        color: $textmuted;
        font-weight: 300;
    }


    .highlight {
        border:0;

        .lineno {
            color:$textmuted;
        }
    }

    pre {
        border: 0;
        padding: 1.5em 3em;
        margin:0 0 1.5em;
        background: whitesmoke;
        border: 0;
        border-radius: 2px;
        border-bottom:1px solid #eee;
        width:100%;
        font-size:0.8em;
        overflow-x: auto;
        display:block;
        
        code {
            font-size:0.8em;
            border:0;
        }
    }
    
    code {
        border-bottom:1px solid #ddd;
        border-radius:2px;
        color:#222;
    } 

    .rounded img {
        border-radius:6px;
    }
    
    .border img {
        border:1px solid #ddd;
    }

    .full {
        margin:1.5em -6em;
        padding:0;
        text-align:center;

        iframe {
            max-width:100% !important;
        }

        img {
            max-width:100%;
            margin:0;
            transition:0.5s all ease;
        }


        &.zoomable {
            img {
                cursor: -webkit-zoom-in;
            }
        }

        &.zoomable img.zoom {
            cursor: -webkit-zoom-out;
        }

        &.zoomable img.zoom {
            -webkit-transform:scale(1.2);
            transition:0.4s all ease;
            box-shadow:0 2px 5px rgba(0,0,0,0.5);
        }
    }

    .postprofile {
        ul {
         margin: 0 10px 0 0;
        }
        li {
            float: left;
            margin: 0 10px 10px 0;
            padding: 0
        }
        li a {
            display: inline-block;
            padding: 7px 0;
            width: 35px;
            text-align: center;
            -webkit-border-radius: 41px;
            -moz-border-radius: 41px;
            border-radius: 41px;
            color: #fff;
            -webkit-transition: all .25s ease-out;
            -moz-transition: all .25s ease-out;
            -o-transition: all .25s ease-out;
            transition: all .25s ease-out
        }
    }

}
